.popup__title {
  margin: 0;
  color: #000000;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 24px;
  line-height: 29px;
  font-style: normal;
  font-weight: 900;
  padding: 34px 0 18px 36px;
}

@media screen and (max-width: 630px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 0 45px 22px;
  }
}
