.signup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  background-color: #000000;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 630px) {
  .signup__container {
    width: 282px;
    align-items: center;
  }
}
