.popup__button-confirm {
  margin: 14px 36px 36px;
}

@media screen and (max-width: 630px) {
  .popup__button-confirm {
    margin: 0 22px 25px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
