.signup__submit-button {
  margin: 216px 36px 15px;
  padding: 0;
  border: none;
  width: 358px;
  height: 50px;
  background-color: #FFFFFF;
  border-radius: 2px;
  transition: opacity 0.35s linear;
  cursor: pointer;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  user-select: none;
}

.signup__submit-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .signup__submit-button {
    margin: 173px 22px 20px;
    width: 260px;
    height: 46px;
    font-size: 16px;
    line-height: 19px;
    align-self: center;
  }
}
