.header {
  margin: 0 auto;
  max-width: calc(100% - 400px);
  padding-top: 45px;
  margin-bottom: 60px;
  background-color: #000000;
  border-bottom: 1px rgb(84, 84, 84, 0.7) solid;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 1100px) {
  .header {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 900px) {
  .header {
    max-width: calc(100% - 100px);
  }
}

@media screen and (max-width: 630px) {
  .header {
    max-width: 100%;
    padding-top: 28px;
    margin-bottom: 42px;
  }
}
