.signup {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  z-index: 2;
}
